<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lollipop.e_lapor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".view.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ELapor">
        <provider
            android:authorities="com.lollipop.e_lapor.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providerfile"/>
        </provider>

        <activity android:name="com.lollipop.e_lapor.view.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lollipop.e_lapor.view.ui.MainActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="com.lollipop.e_lapor.view.ui.DetailAduanActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="com.lollipop.e_lapor.view.ui.LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.lollipop.e_lapor.view.ui.DaftarActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.lollipop.e_lapor.view.ui.MapActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.lollipop.e_lapor.view.ui.MapActivity2"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>